.imgshortcode-container > input[type=checkbox] {
    display: none;
  }
  
.imgshortcode-container img {
transition: transform 0.25s ease;
cursor: zoom-in;
}

.imgshortcode-container > input[type=checkbox]:checked ~ label > img {
transform: scale(2);
cursor: zoom-out;
}