.about__life-event:nth-child(1)>.about__bullet {
    border: 2px solid rgba(243,117,0,0.856);
}

.about__life-event:nth-child(2n+1)>.about__bullet {
    border: 2px solid #050020;
}
.about__bullet {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: white;
    border: 2px solid black;
    margin-right: 11px;
    margin-top: 7px;
}
.about__life-event {
    display: flex;
    flex-direction: row;
    margin: 13px;
}
.about__life-event-list {
    list-style-type: none;
    padding-left: 0px;
    margin-top: -32px;
}
.about__life-event:nth-of-type(1)::before {
    color: rgba(243,117,0,0.856);
}

.about__life-event:nth-of-type(2n+1)::before {
    color: #050020;
}
.about__life-event::before {
    content: "|";
    position: absolute;
    padding: 8px;
    margin-top: -31px;
    font-size: 17px;
}
.about__life-event:nth-child(2n)>.about__bullet {
    border: 2px solid rgba(0,174,255,0.856);
}

.about__bullet {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: white;
    border: 2px solid black;
    margin-right: 11px;
    margin-top: 7px;
}
.about__life-event:nth-of-type(2n)::before {
    color: rgba(0,174,255,0.856);
}
.about__life-event::before {
    content: "|";
    position: absolute;
    padding: 8px;
    margin-top: -31px;
    font-size: 17px;
}