.sidebar {
    background-image: url(https://cdn-images-1.medium.com/max/2000/1*Hu3vQJOIihS2IKbyjgnhFg.png);
    background-color: #300030;
    color: #fff;
    color: rgba(255,255,255,0.5);
    padding: 2rem 1rem;
    text-align: center;
    .container {
        background-color: rgba(1,21,19,0.66);
    }
}
